canvas {
    height: 50vh;
    width: 100vw;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    vertical-align: middle;
    margin-top: 0px;
}

input[type='checkbox']:checked {
    background-image: url('./Icons/checkmark.svg');
}

.gravity-toggle h2 {
    display: inline-block;
}

html, body {
    overflow-x: hidden; /*Stop horizontal scroll*/
    padding: 0px;
    margin: 0px;
} 

body { 
    color: white;
    background-color: #37373D;
    font-family: Arial, Helvetica, sans-serif;
}